<%- include('./components/header') %>

    <div>
    <% if (user) { %>
        Welcome, <%= user.name %>
        <a href="/logout">Log out</a>
      <% } else { %>
        <a href="/login" >Log in</a>
        <a href="/signup" >Sign up</a>
      <% } %>
    </div>
<div class="container">
    <div>
        <a href="/new/question" class="btn btn-primary">Add a question</a>
    </div>
    <br>

    <div class="row" >
    
        <% questions.forEach(function(item) { %>
            <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
            <h3 class="card-title"><a href="/question/<%=item.id%>"> <%= item.question %> </a></h3>
            <p class="card-text"><%= item.description %></p>
            <p><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'numeric', day: '2-digit'}).format(new Date(item.updatedAt)) %></p>

            
           
        </div>
    </div>
</div>
        <% }); %>

        
      
    </div>
</div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>