<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST" action="/edit/answer/<%=result.id%> ">
        <div>
            <textarea rows="20" cols="30" name="answer" required/ ><%=result.answer%></textarea>
        </div>

        <div>
            <button type="submit">save Answer</button>
        </div>
    </form>
    <a href="/edit/answer/<%= result.id %>">Edit Answer</a> 
    <a href="/delete/answer/<%= result.id %>">Delete Answer</a> 


    <% if (errorsList2 && errorsList2.answer) { %> 
        <div class="error">
           <p> <%= errorsList2.answer %></p>
       </div>
    <% } %>

</body>
</html>