<%- include('../components/header') %>

    <form method="POST" action="/edit/question/<%=result.id%> ">
      
        <div>
            <input type="text" name="question" value="<%=result.question%>" required/>
        </div>
     
        <div>
            <textarea rows="20" cols="30" name="description" required><%=result.description%></textarea>
        </div>

        <div>
            <button type="submit">save question </button>
        </div>
    </form>
    <a href="/edit/question/<%= result.id %>">Edit Article</a> 
    <a href="/delete/question/<%= result.id %>">Delete Article</a> 
    
    <%- include('../components/footer') %>