<%- include('../components/header') %>
<%- include('../components/top') %>

<div class="container">
   
        <h1><%= result.question %></h1>
        <p><%= result.description %></p>
        <p>By: <%=result.user.name %> </p>

        <% if (result.user.id === currentUserId) { %>
            <a href="/edit/question/<%= result.id %>"class="btn btn-primary">Edit question</a> 
            <a href="/delete/question/<%= result.id %>"class="btn btn-primary">Delete question</a>

        <% } %>   
</div>
   
    <%- include('../components/bottom') %>
    <%- include('../components/footer') %>
